@model BattleReport.Web.Models.WarModel
@{
    ViewBag.Title = "主页";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { target = "_blank" }))
{
    <div style="float: left;">
        <h1 align="center">
            @Html.TextBoxFor(m => m.AttackerName)</h1>
        <div style="float: left; margin: 10px">
            @for (int i = 20; i < 25; i++)
            {
                for (int j = i; j >= 0; j -= 5)
                {
                <div style="float: left; width: 10px; margin: 10px">@(j + 1).
                </div>
                <div style="float: left; margin: 0px">
                    @Html.DropDownListFor(m => m.Attacker[j], new SelectList(Model.DataSource, "Value", "Text", Model.Attacker[j]), "空位")
                </div>
                }
                <div style="clear: both">
                </div>
            }
        </div>
    </div>
    <div style="clear: both; width: 15%; margin-left: auto; margin-right: auto;">
        <input type="submit" value="开战" />
    </div>
    <div style="float: right; margin-top: 0px;">
        <h1 align="center" style="margin-top: 0px;">
            @Html.TextBoxFor(m => m.DefenderName)</h1>
        <div style="float: right; margin: 10px">
            @for (int i = 0; i < 5; i++)
            {
                for (int j = i; j <= i + 20; j += 5)
                {
                <div style="float: left; width: 10px; margin: 10px">@(j + 1).
                </div>
                <div style="float: left; margin: 0px">
                    @Html.DropDownListFor(m => m.Defender[j], new SelectList(Model.DataSource, "Value", "Text", Model.Defender[j]), "空位")
                </div>
                }
                <div style="clear: both">
                </div>
            }
        </div>
    </div>
    <div style="clear: both">
    </div>
}
